.coordenacao{
    img{
        margin-right: 15px;
        border-radius: 4px;
    }
    p{
        text-align: justify;
    }
    .lattes{
        a {
            color:#459b1d;
        }
    }
    h3{
        text-transform: uppercase;
    }
}