.coordenacao{
    img{
        margin-right: 15px;
        border-radius: 4px;
    }
    p{
        text-align: justify;
    }
    .lattes{
        font-size: 1.2em;
        a {
            color:#459b1d;
            &:hover{
                color:#81e652;
            }
        }
    }
    h3{
        text-transform: uppercase;
    }
}